/* font style */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
}

.text-card {
    color: #111111;
    font-size: 1.37rem;
}

.btn {
    max-width: 270px;
    height: 50px;
    color: white;
    background-color: #E95A08;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}


.my-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content h2 {
        font-size: 3rem;
    }

    .banner-content {
        padding: 10px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px;
    }

    .section-content {
        padding: 28px;
    }

    .responsive-title {
        font-size: 1.5rem;
    }

    .responsive-sub-title {
        font-size: 0.87rem;
    }

    .plant-lover {
        flex-direction: column;
        padding: 10px;
    }

}