/* font style */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.heading {
    font-size: 3.12rem;
    font-weight: bold;
}

.text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
}

.text-card {
    color: #111111;
    font-size: 1.37rem;
}

.btn {
    max-width: 270px;
    height: 50px;
    color: white;
    background-color: #E95A08;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}


.my-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.colorful-bunch {
    background-image: url(./assets/news-letter-bg.png);
    width: 100%;
    background-position: center;
    background-size: cover;
}

.img-one {
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: img-one;
}

.img-two {
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: img-two;
}

.img-three {
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: img-three;
}

.img-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "img-one img-three img-three"
        "img-two img-three img-three"

    ;
}

/* Meadia query */
@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content h2 {
        font-size: 3rem;
    }

    .banner-content {
        padding: 10px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px;
    }

    .section-content {
        padding: 28px;
    }

    .responsive-title {
        font-size: 1.5rem;
    }

    .responsive-sub-title {
        color: rgba(0, 0, 0, 0.5);
        font-size: 0.87rem;

    }

    .plant-lover {
        flex-direction: column;
        padding: 10px;
    }

    .colorful-bunch {
        width: 393px;
        height: 275px;
    }

    .bunch-content {
        padding: 80px 25px;
    }

    .heading {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .bunch-content input {
        width: 218px;
    }

    .bunch-content button {
        width: 103px;
    }

    .footer-container {
        max-width: 100%;
        flex-direction: column;
        padding: 0 10px;
        margin-bottom: 10px;

    }

    .footer-logo {
        padding: 0%;
        margin-bottom: 5px;
    }

    .footer-nav ul {
        flex-direction: column;
    }

    .footer-nav ul li {
        margin-bottom: 20px;
    }

    /* .menu-one {
        margin-bottom: 10px;
    } */

    .img-container {
        display: flex;
        width: fit-content;
        flex-direction: column;
        margin: 32px auto;
    }

    .img-three {
        max-width: 365px;
        height: 200px;
    }

    .deals-content p {
        text-align: center;
    }


}